.filters-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and(min-width: 768px) {
    justify-content: center;
  }
}

.filters-buttons__items:not(:last-child) {
  margin-right: 9px;
}

.filters-buttons__items {
  @media screen and(min-width: 320px) {
    margin-bottom: 15px;
    &:nth-child(2) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(4) {
      margin-right: 0;
    }
  }

  @media screen and(min-width: 394px) {
    margin-bottom: 15px;
    &:nth-child(2) {
      margin-right: 9px;
    }

    &:nth-child(4) {
      margin-bottom: 0;
    }

    &:nth-child(4) {
      margin-right: 9px;
    }

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  @media screen and(min-width: 768px) {
    margin-bottom: 0;

    &:nth-child(3) {
      margin-right: 9px;
      margin-bottom: 0;
    }
  }
}

.button-menu {
  background-color: $background-team;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;

  transition: background-color 250ms $animate, color 1250ms;

  &:hover,
  &:focus {
    transform: scale(1);
    background-color: $accent-color;
    color: $background-team;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.25);

    transition: background-color 250ms $animate, color 250ms;
  }
}
