$primary-text-color: #212121;
$text-color: #757575;
$text-color-actve: #ffffff;
$accent-color: #2196f3;
$button-hover: #188ce8;
$footer-color: #2f303a;
$background-team: #f5f4fa;
$border-header: #ececec;
$border-card-portfl: #eeeeee;
// правый марджен для карточки портфолио
$card-set-gap: 30px;
$animate: cubic-bezier(0.4, 0, 0.2, 1);
